In [2]:
import pandas as pd
import numpy as np

In [9]:
fama_french = pd.read_csv("data/05_df_ff_info.csv")
fundamentals = pd.read_csv("data/funda.csv")
stocks = pd.read_csv("data/monthlystocks.csv")

In [10]:
fundamentals = fundamentals[(fundamentals["exchg"]>=11) & (fundamentals["exchg"]<=19)]
fundamentals = fundamentals[fundamentals["curcd"] == "USD"]
fundamentals = fundamentals[fundamentals["indfmt"] == "INDL"]
fundamentals = fundamentals[fundamentals["fic"] == "USA"]
fundamentals = fundamentals[(fundamentals["sic"] <= 5999) | (fundamentals["sic"] >= 7000)]

In [11]:
fundamentals.shape

(181467, 17)

In [12]:
stocks = stocks[pd.to_numeric(stocks['RET'], errors='coerce').notnull()]

stocks['RET'] = pd.to_numeric(stocks['RET'])

stocks["date"] = pd.to_datetime(stocks["date"])

stocks = stocks[(stocks["RET"] < 500)]

stocks = stocks[(stocks["RET"] > -100)]

stocks = stocks[(stocks["SHROUT"] > 0)]

stocks["PRC"] = abs(stocks["PRC"])

stocks["PRC"] = stocks["PRC"].replace({0:np.nan})

stocks["SHROUT"] = stocks["SHROUT"].fillna(method="ffill")

stocks = stocks.dropna(subset=["SHROUT", "PRC"])

stocks["Market Cap"] = stocks["PRC"] * stocks["SHROUT"]

In [13]:
stocks.shape

(3459593, 7)

In [15]:
fundamentals

,GVKEY,LPERMNO,datadate,fyear,indfmt,consol,popsrc,datafmt,curcd,csho,xrd,exchg,costat,fic,mkvalt,prcc_f,sic
0,1000,25881,12/31/1975,1975.0,INDL,C,D,STD,USD,2.098,NaN,12,I,USA,NaN,4.375,3089.0
1,1000,25881,12/31/1976,1976.0,INDL,C,D,STD,USD,2.207,NaN,12,I,USA,NaN,5.750,3089.0
2,1000,25881,12/31/1977,1977.0,INDL,C,D,STD,USD,2.226,NaN,12,I,USA,NaN,9.250,3089.0
3,1001,10015,12/31/1983,1983.0,INDL,C,D,STD,USD,3.568,0.000,14,I,USA,NaN,7.250,5812.0
4,1001,10015,12/31/1984,1984.0,INDL,C,D,STD,USD,3.568,NaN,14,I,USA,NaN,3.750,5812.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
284783,345920,20194,12/31/2021,2021.0,INDL,C,D,STD,USD,44.618,NaN,14,A,USA,1262.2432,28.290,3524.0
284784,345980,20333,12/31/2020,2020.0,INDL,C,D,STD,USD,587.000,222.000,14,A,USA,10706.8800,18.240,5961.0
284785,345980,20333,12/31/2021,2021.0,INDL,C,D,STD,USD,658.000,208.000,14,A,USA,2046.3800,3.110,5961.0
284786,347007,15533,12/31/2021,2021.0,INDL,C,D,STD,USD,397.830,195.958,14,A,USA,2418.8064,6.080,2836.0
284788,349972,15642,12/31/2021,2021.0,INDL,C,D,STD,USD,8.259,2.523,14,A,USA,47.0763,5.700,2836.0

In [16]:
fundamentals['datadate'] = pd.to_datetime(fundamentals['datadate'])

fundamentals['datadate'] = fundamentals['datadate'] + pd.DateOffset(months=3)

fundamentals['year'] = fundamentals['datadate'].dt.year

In [17]:
fundamentals['xrd'] = fundamentals['xrd'].fillna(0)

In [19]:
fundamentals

,GVKEY,LPERMNO,datadate,fyear,indfmt,consol,popsrc,datafmt,curcd,csho,xrd,exchg,costat,fic,mkvalt,prcc_f,sic,year
0,1000,25881,1976-03-31,1975.0,INDL,C,D,STD,USD,2.098,0.000,12,I,USA,NaN,4.375,3089.0,1976
1,1000,25881,1977-03-31,1976.0,INDL,C,D,STD,USD,2.207,0.000,12,I,USA,NaN,5.750,3089.0,1977
2,1000,25881,1978-03-31,1977.0,INDL,C,D,STD,USD,2.226,0.000,12,I,USA,NaN,9.250,3089.0,1978
3,1001,10015,1984-03-31,1983.0,INDL,C,D,STD,USD,3.568,0.000,14,I,USA,NaN,7.250,5812.0,1984
4,1001,10015,1985-03-31,1984.0,INDL,C,D,STD,USD,3.568,0.000,14,I,USA,NaN,3.750,5812.0,1985
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
284783,345920,20194,2022-03-31,2021.0,INDL,C,D,STD,USD,44.618,0.000,14,A,USA,1262.2432,28.290,3524.0,2022
284784,345980,20333,2021-03-31,2020.0,INDL,C,D,STD,USD,587.000,222.000,14,A,USA,10706.8800,18.240,5961.0,2021
284785,345980,20333,2022-03-31,2021.0,INDL,C,D,STD,USD,658.000,208.000,14,A,USA,2046.3800,3.110,5961.0,2022
284786,347007,15533,2022-03-31,2021.0,INDL,C,D,STD,USD,397.830,195.958,14,A,USA,2418.8064,6.080,2836.0,2022
284788,349972,15642,2022-03-31,2021.0,INDL,C,D,STD,USD,8.259,2.523,14,A,USA,47.0763,5.700,2836.0,2022

In [21]:
fundamentals = fundamentals.sort_values(by=['datadate','LPERMNO']).reset_index(drop=True)

LPERMNO
10000    38809           NaN
10001    37783           NaN
         42021           NaN
         46469           NaN
         50823           NaN
                     ...
93436    169066    2708.6146
         172055    3456.8372
         175025    3873.0942
         178091    4205.2912
         181466    5484.8682
Name: xrd, Length: 181467, dtype: float64

In [29]:
fundamentals

,GVKEY,LPERMNO,datadate,fyear,indfmt,consol,popsrc,datafmt,curcd,csho,xrd,exchg,costat,fic,mkvalt,prcc_f,sic,year
0,1215,10102,1976-03-31,1975.0,INDL,C,D,STD,USD,11.411,12.992,11,I,USA,NaN,17.625,2810.0,1976
1,1279,10137,1976-03-31,1975.0,INDL,C,D,STD,USD,27.292,0.000,11,I,USA,NaN,18.500,4911.0,1976
2,1300,10145,1976-03-31,1975.0,INDL,C,D,STD,USD,27.909,35.181,14,A,USA,NaN,33.250,9997.0,1976
3,1308,10153,1976-03-31,1975.0,INDL,C,D,STD,USD,10.702,40.100,11,I,USA,NaN,12.000,1381.0,1976
4,1365,10161,1976-03-31,1975.0,INDL,C,D,STD,USD,31.080,18.110,11,I,USA,NaN,47.250,3334.0,1976
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
181462,183945,93371,2022-03-31,2021.0,INDL,C,D,STD,USD,38.086,13.133,14,A,USA,1.732913e+02,4.550,2836.0,2022
181463,184258,93372,2022-03-31,2021.0,INDL,C,D,STD,USD,22.981,10.152,11,A,USA,8.976379e+02,39.060,3531.0,2022
181464,10567,93423,2022-03-31,2021.0,INDL,C,D,STD,USD,86.163,0.000,11,A,USA,3.668820e+03,42.580,7996.0,2022
181465,185138,93426,2022-03-31,2021.0,INDL,C,D,STD,USD,13.626,17.200,11,A,USA,5.057971e+02,37.120,3674.0,2022
181466,184996,93436,2022-03-31,2021.0,INDL,C,D,STD,USD,1033.000,2593.000,14,A,USA,1.091654e+06,1056.780,3711.0,2022

In [31]:
fundamentals[fundamentals["LPERMNO"]==10000]

,GVKEY,LPERMNO,datadate,fyear,indfmt,consol,popsrc,datafmt,curcd,csho,xrd,exchg,costat,fic,mkvalt,prcc_f,sic,year
38809,13007,10000,1987-01-31,1986.0,INDL,C,D,STD,USD,3.843,0.039,13,I,USA,NaN,0.75,3942.0,1987

In [43]:
weights = np.array([0.2, 0.4, 0.6, 0.8, 1.0])

#fundamentals["RDC"] = 
rd_cap = fundamentals.groupby("LPERMNO")["xrd"].rolling(5).apply(lambda x: np.sum(weights*x)).reset_index(level=[0,1])[["level_1", "xrd"]].set_index('level_1').rename(columns={"xrd": "RDC"})

fundamentals = pd.merge(fundamentals, rd_cap, left_index=True, right_index=True)

In [44]:
fundamentals["RDC"] = fundamentals["RDC"].fillna(0)

In [45]:
non_rd_firms = fundamentals[fundamentals["RDC"] == 0]
rd_firms = fundamentals[fundamentals["RDC"] > 0]

In [46]:
non_rd_firms.shape

(120384, 19)

In [47]:
rd_firms.shape

(61083, 19)

In [50]:
fundamentals.shape

(181467, 19)

In [52]:
non_rd_firms.shape[0] + rd_firms.shape[0] == fundamentals.shape[0]

True