In [1]:
import pandas as pd
import numpy as np

In [2]:
fama_french = pd.read_csv("data/05_df_ff_info.csv")
fundamentals = pd.read_csv("data/funda.csv")
stocks = pd.read_csv("data/monthlystocks.csv")

In [3]:
fundamentals = fundamentals[(fundamentals["exchg"]>=11) & (fundamentals["exchg"]<=19)]
fundamentals = fundamentals[fundamentals["curcd"] == "USD"]
fundamentals = fundamentals[fundamentals["indfmt"] == "INDL"]
fundamentals = fundamentals[fundamentals["fic"] == "USA"]
fundamentals = fundamentals[(fundamentals["sic"] <= 5999) | (fundamentals["sic"] >= 7000)]

In [4]:
fundamentals.shape

(181467, 17)

In [5]:
stocks = stocks[pd.to_numeric(stocks['RET'], errors='coerce').notnull()]

stocks['RET'] = pd.to_numeric(stocks['RET'])

stocks["date"] = pd.to_datetime(stocks["date"])

stocks = stocks[(stocks["RET"] < 500)]

stocks = stocks[(stocks["RET"] > -100)]

stocks = stocks[(stocks["SHROUT"] > 0)]

stocks["PRC"] = abs(stocks["PRC"])

stocks["PRC"] = stocks["PRC"].replace({0:np.nan})

stocks["SHROUT"] = stocks["SHROUT"].fillna(method="ffill")

stocks = stocks.dropna(subset=["SHROUT", "PRC"])

stocks["Market Cap"] = stocks["PRC"] * stocks["SHROUT"]

In [6]:
stocks.shape

(3459593, 7)

In [7]:
fundamentals

,GVKEY,LPERMNO,datadate,fyear,indfmt,consol,popsrc,datafmt,curcd,csho,xrd,exchg,costat,fic,mkvalt,prcc_f,sic
0,1000,25881,12/31/1975,1975.0,INDL,C,D,STD,USD,2.098,NaN,12,I,USA,NaN,4.375,3089.0
1,1000,25881,12/31/1976,1976.0,INDL,C,D,STD,USD,2.207,NaN,12,I,USA,NaN,5.750,3089.0
2,1000,25881,12/31/1977,1977.0,INDL,C,D,STD,USD,2.226,NaN,12,I,USA,NaN,9.250,3089.0
3,1001,10015,12/31/1983,1983.0,INDL,C,D,STD,USD,3.568,0.000,14,I,USA,NaN,7.250,5812.0
4,1001,10015,12/31/1984,1984.0,INDL,C,D,STD,USD,3.568,NaN,14,I,USA,NaN,3.750,5812.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
284783,345920,20194,12/31/2021,2021.0,INDL,C,D,STD,USD,44.618,NaN,14,A,USA,1262.2432,28.290,3524.0
284784,345980,20333,12/31/2020,2020.0,INDL,C,D,STD,USD,587.000,222.000,14,A,USA,10706.8800,18.240,5961.0
284785,345980,20333,12/31/2021,2021.0,INDL,C,D,STD,USD,658.000,208.000,14,A,USA,2046.3800,3.110,5961.0
284786,347007,15533,12/31/2021,2021.0,INDL,C,D,STD,USD,397.830,195.958,14,A,USA,2418.8064,6.080,2836.0
284788,349972,15642,12/31/2021,2021.0,INDL,C,D,STD,USD,8.259,2.523,14,A,USA,47.0763,5.700,2836.0

In [8]:
fundamentals['datadate'] = pd.to_datetime(fundamentals['datadate'])

fundamentals['datadate'] = fundamentals['datadate'] + pd.DateOffset(months=3)

fundamentals['year'] = fundamentals['datadate'].dt.year

In [9]:
fundamentals['xrd'] = fundamentals['xrd'].fillna(0)

In [10]:
fundamentals

,GVKEY,LPERMNO,datadate,fyear,indfmt,consol,popsrc,datafmt,curcd,csho,xrd,exchg,costat,fic,mkvalt,prcc_f,sic,year
0,1000,25881,1976-03-31,1975.0,INDL,C,D,STD,USD,2.098,0.000,12,I,USA,NaN,4.375,3089.0,1976
1,1000,25881,1977-03-31,1976.0,INDL,C,D,STD,USD,2.207,0.000,12,I,USA,NaN,5.750,3089.0,1977
2,1000,25881,1978-03-31,1977.0,INDL,C,D,STD,USD,2.226,0.000,12,I,USA,NaN,9.250,3089.0,1978
3,1001,10015,1984-03-31,1983.0,INDL,C,D,STD,USD,3.568,0.000,14,I,USA,NaN,7.250,5812.0,1984
4,1001,10015,1985-03-31,1984.0,INDL,C,D,STD,USD,3.568,0.000,14,I,USA,NaN,3.750,5812.0,1985
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
284783,345920,20194,2022-03-31,2021.0,INDL,C,D,STD,USD,44.618,0.000,14,A,USA,1262.2432,28.290,3524.0,2022
284784,345980,20333,2021-03-31,2020.0,INDL,C,D,STD,USD,587.000,222.000,14,A,USA,10706.8800,18.240,5961.0,2021
284785,345980,20333,2022-03-31,2021.0,INDL,C,D,STD,USD,658.000,208.000,14,A,USA,2046.3800,3.110,5961.0,2022
284786,347007,15533,2022-03-31,2021.0,INDL,C,D,STD,USD,397.830,195.958,14,A,USA,2418.8064,6.080,2836.0,2022
284788,349972,15642,2022-03-31,2021.0,INDL,C,D,STD,USD,8.259,2.523,14,A,USA,47.0763,5.700,2836.0,2022

In [11]:
fundamentals = fundamentals.sort_values(by=['datadate','LPERMNO']).reset_index(drop=True)

In [12]:
fundamentals

,GVKEY,LPERMNO,datadate,fyear,indfmt,consol,popsrc,datafmt,curcd,csho,xrd,exchg,costat,fic,mkvalt,prcc_f,sic,year
0,1215,10102,1976-03-31,1975.0,INDL,C,D,STD,USD,11.411,12.992,11,I,USA,NaN,17.625,2810.0,1976
1,1279,10137,1976-03-31,1975.0,INDL,C,D,STD,USD,27.292,0.000,11,I,USA,NaN,18.500,4911.0,1976
2,1300,10145,1976-03-31,1975.0,INDL,C,D,STD,USD,27.909,35.181,14,A,USA,NaN,33.250,9997.0,1976
3,1308,10153,1976-03-31,1975.0,INDL,C,D,STD,USD,10.702,40.100,11,I,USA,NaN,12.000,1381.0,1976
4,1365,10161,1976-03-31,1975.0,INDL,C,D,STD,USD,31.080,18.110,11,I,USA,NaN,47.250,3334.0,1976
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
181462,183945,93371,2022-03-31,2021.0,INDL,C,D,STD,USD,38.086,13.133,14,A,USA,1.732913e+02,4.550,2836.0,2022
181463,184258,93372,2022-03-31,2021.0,INDL,C,D,STD,USD,22.981,10.152,11,A,USA,8.976379e+02,39.060,3531.0,2022
181464,10567,93423,2022-03-31,2021.0,INDL,C,D,STD,USD,86.163,0.000,11,A,USA,3.668820e+03,42.580,7996.0,2022
181465,185138,93426,2022-03-31,2021.0,INDL,C,D,STD,USD,13.626,17.200,11,A,USA,5.057971e+02,37.120,3674.0,2022
181466,184996,93436,2022-03-31,2021.0,INDL,C,D,STD,USD,1033.000,2593.000,14,A,USA,1.091654e+06,1056.780,3711.0,2022

In [14]:
weights = np.array([0.2, 0.4, 0.6, 0.8, 1.0])

rd_cap = fundamentals.groupby("LPERMNO")["xrd"].rolling(5).apply(lambda x: np.sum(weights*x)).reset_index(level=[0,1])[["level_1", "xrd"]].set_index('level_1').rename(columns={"xrd": "RDC"})

fundamentals = pd.merge(fundamentals, rd_cap, left_index=True, right_index=True)

In [15]:
fundamentals.shape

(181467, 19)

In [13]:
fundamentals[fundamentals["LPERMNO"] == 10145]

,GVKEY,LPERMNO,datadate,fyear,indfmt,consol,popsrc,datafmt,curcd,csho,xrd,exchg,costat,fic,mkvalt,prcc_f,sic,year
2,1300,10145,1976-03-31,1975.0,INDL,C,D,STD,USD,27.909,35.181,14,A,USA,NaN,33.2500,9997.0,1976
3367,1300,10145,1977-03-31,1976.0,INDL,C,D,STD,USD,28.003,42.302,14,A,USA,NaN,40.0000,9997.0,1977
6659,1300,10145,1978-03-31,1977.0,INDL,C,D,STD,USD,28.180,53.423,14,A,USA,NaN,44.2500,9997.0,1978
9927,1300,10145,1979-03-31,1978.0,INDL,C,D,STD,USD,28.518,57.721,14,A,USA,NaN,28.2500,9997.0,1979
13188,1300,10145,1980-03-31,1979.0,INDL,C,D,STD,USD,28.808,70.380,14,A,USA,NaN,49.1250,9997.0,1980
16459,1300,10145,1981-03-31,1980.0,INDL,C,D,STD,USD,33.489,105.000,14,A,USA,NaN,53.5000,9997.0,1981
19863,1300,10145,1982-03-31,1981.0,INDL,C,D,STD,USD,33.744,152.000,14,A,USA,NaN,43.8750,9997.0,1982
23418,1300,10145,1983-03-31,1982.0,INDL,C,D,STD,USD,35.250,186.000,14,A,USA,NaN,32.3750,9997.0,1983
27050,1300,10145,1984-03-31,1983.0,INDL,C,D,STD,USD,53.459,280.000,14,A,USA,NaN,55.7500,9997.0,1984
31032,1300,10145,1985-03-31,1984.0,INDL,C,D,STD,USD,83.029,295.000,14,A,USA,NaN,34.5000,9997.0,1985
35001,1300,10145,1986-03-31,1985.0,INDL,C,D,STD,USD,175.194,343.000,14,A,USA,NaN,46.7500,9997.0,1986
39094,1300,10145,1987-03-31,1986.0,INDL,C,D,STD,USD,174.352,459.000,14,A,USA,NaN,40.1250,9997.0,1987
43404,1300,10145,1988-03-31,1987.0,INDL,C,D,STD,USD,149.949,400.000,14,A,USA,NaN,28.2500,9997.0,1988
47846,1300,10145,1989-03-31,1988.0,INDL,C,D,STD,USD,147.961,415.000,14,A,USA,NaN,32.5000,9997.0,1989
52159,1300,10145,1990-03-31,1989.0,INDL,C,D,STD,USD,145.003,381.000,14,A,USA,NaN,34.8750,9997.0,1990
56410,1300,10145,1991-03-31,1990.0,INDL,C,D,STD,USD,134.688,426.000,14,A,USA,NaN,27.0000,9997.0,1991
60650,1300,10145,1992-03-31,1991.0,INDL,C,D,STD,USD,138.150,381.000,14,A,USA,NaN,43.8750,9997.0,1992
65028,1300,10145,1993-03-31,1992.0,INDL,C,D,STD,USD,141.883,320.000,14,A,USA,NaN,60.5000,9997.0,1993
69585,1300,10145,1994-03-31,1993.0,INDL,C,D,STD,USD,141.917,313.000,14,A,USA,NaN,79.0000,9997.0,1994
74590,1300,10145,1995-03-31,1994.0,INDL,C,D,STD,USD,283.132,318.000,14,A,USA,NaN,34.0000,9997.0,1995
79785,1300,10145,1996-03-31,1995.0,INDL,C,D,STD,USD,282.770,353.000,14,A,USA,NaN,47.5000,9997.0,1996
85201,1300,10145,1997-03-31,1996.0,INDL,C,D,STD,USD,282.815,345.000,14,A,USA,NaN,67.0000,9997.0,1997
90977,1300,10145,1998-03-31,1997.0,INDL,C,D,STD,USD,558.343,349.000,14,A,USA,NaN,38.8120,9997.0,1998
96738,1300,10145,1999-03-31,1998.0,INDL,C,D,STD,USD,558.466,394.000,14,A,USA,24747.0246,44.3125,9997.0,1999
102107,1300,10145,2000-03-31,1999.0,INDL,C,D,STD,USD,795.133,909.000,14,A,USA,45869.2349,57.6875,9997.0,2000
107213,1300,10145,2001-03-31,2000.0,INDL,C,D,STD,USD,807.292,818.000,14,A,USA,38195.0028,47.3125,9997.0,2001
112116,1300,10145,2002-03-31,2001.0,INDL,C,D,STD,USD,814.966,832.000,14,A,USA,27562.1501,33.8200,9997.0,2002
116509,1300,10145,2003-03-31,2002.0,INDL,C,D,STD,USD,854.493,757.000,14,A,USA,20507.8320,24.0000,9997.0,2003
120559,1300,10145,2004-03-31,2003.0,INDL,C,D,STD,USD,862.330,751.000,14,A,USA,28827.6919,33.4300,9997.0,2004
124372,1300,10145,2005-03-31,2004.0,INDL,C,D,STD,USD,850.013,917.000,14,A,USA,30098.9603,35.4100,9997.0,2005
128164,1300,10145,2006-03-31,2005.0,INDL,C,D,STD,USD,829.483,1072.000,14,A,USA,30898.2418,37.2500,9997.0,2006
131854,1300,10145,2007-03-31,2006.0,INDL,C,D,STD,USD,800.592,1411.000,14,A,USA,36218.7821,45.2400,9997.0,2007
135496,1300,10145,2008-03-31,2007.0,INDL,C,D,STD,USD,746.554,1459.000,14,A,USA,45965.3298,61.5700,9997.0,2008
139076,1300,10145,2009-03-31,2008.0,INDL,C,D,STD,USD,734.586,1543.000,14,A,USA,24116.4584,32.8300,9997.0,2009
142449,1300,10145,2010-03-31,2009.0,INDL,C,D,STD,USD,764.209,1330.000,14,A,USA,29956.9928,39.2000,9997.0,2010
145647,1300,10145,2011-03-31,2010.0,INDL,C,D,STD,USD,783.000,1466.000,14,A,USA,41624.2800,53.1600,9997.0,2011
148727,1300,10145,2012-03-31,2011.0,INDL,C,D,STD,USD,774.700,1799.000,14,A,USA,42104.9450,54.3500,9997.0,2012
151722,1300,10145,2013-03-31,2012.0,INDL,C,D,STD,USD,782.800,1847.000,14,A,USA,49684.3160,63.4700,9997.0,2013
154664,1300,10145,2014-03-31,2013.0,INDL,C,D,STD,USD,783.800,1804.000,14,A,USA,71615.8060,91.3700,9997.0,2014
157655,1300,10145,2015-03-31,2014.0,INDL,C,D,STD,USD,782.200,1892.000,14,A,USA,78157.4240,99.9200,9997.0,2015
160754,1300,10145,2016-03-31,2015.0,INDL,C,D,STD,USD,770.400,1856.000,14,A,USA,79790.3280,103.5700,9997.0,2016
163835,1300,10145,2017-03-31,2016.0,INDL,C,D,STD,USD,760.800,2143.000,14,A,USA,88138.6800,115.8500,9997.0,2017
166814,1300,10145,2018-03-31,2017.0,INDL,C,D,STD,USD,750.900,1835.000,14,A,USA,115158.0240,153.3600,9997.0,2018
169790,1300,10145,2019-03-31,2018.0,INDL,C,D,STD,USD,729.600,1809.000,14,A,USA,96394.7520,132.1200,9997.0,2019
172759,1300,10145,2020-03-31,2019.0,INDL,C,D,STD,USD,711.100,1556.000,14,A,USA,125864.7000,177.0000,9997.0,2020
175723,1300,10145,2021-03-31,2020.0,INDL,C,D,STD,USD,696.800,1334.000,14,A,USA,148209.3600,212.7000,9997.0,2021
178797,1300,10145,2022-03-31,2021.0,INDL,C,D,STD,USD,684.800,1333.000,14,A,USA,142787.6480,208.5100,9997.0,2022

In [16]:
fundamentals = fundamentals.dropna(subset=['RDC'])

In [17]:
fundamentals = fundamentals[["LPERMNO", "datadate", "RDC"]]

In [28]:
non_rd_firms = fundamentals[fundamentals["RDC"] == 0].copy()
rd_firms = fundamentals[fundamentals["RDC"] > 0].copy()

In [29]:
non_rd_firms.shape

(61209, 3)

In [30]:
rd_firms.shape

(61083, 3)

In [31]:
fundamentals.shape

(122292, 3)

In [32]:
non_rd_firms.shape[0] + rd_firms.shape[0] == fundamentals.shape[0]

True

In [33]:
fundamentals

        LPERMNO   datadate        RDC
12180     14955 1979-09-30     0.0000
12243     29867 1979-09-30     0.0000
12316     45225 1979-09-30     0.0000
12404     59871 1979-09-30     0.0000
12431     63336 1979-09-30     0.0070
...         ...        ...        ...
181462    93371 2022-03-31    42.8924
181463    93372 2022-03-31    20.7738
181464    93423 2022-03-31     0.0000
181465    93426 2022-03-31    41.6000
181466    93436 2022-03-31  5484.8682

[122292 rows x 3 columns]

In [34]:
stocks

,LPERMNO,datadate,PRC,VOL,RET,SHROUT,Market Cap
2,10000,1986-02-28,3.25000,828.0,-0.257143,3680.0,1.196000e+04
3,10000,1986-03-31,4.43750,1078.0,0.365385,3680.0,1.633000e+04
4,10000,1986-04-30,4.00000,957.0,-0.098592,3793.0,1.517200e+04
5,10000,1986-05-30,3.10938,1074.0,-0.222656,3793.0,1.179388e+04
6,10000,1986-06-30,3.09375,1069.0,-0.005025,3793.0,1.173459e+04
...,...,...,...,...,...,...,...
3594905,93436,2021-08-31,735.71997,3812156.0,0.070605,1001767.0,7.370200e+08
3594906,93436,2021-09-30,775.47998,3889228.0,0.054042,1004000.0,7.785819e+08
3594907,93436,2021-10-29,1114.00000,5263955.0,0.436530,1004265.0,1.118751e+09
3594908,93436,2021-11-30,1144.76001,6457197.0,0.027612,1004265.0,1.149642e+09
3594909,93436,2021-12-31,1056.78003,5075118.0,-0.076855,1033534.0,1.092218e+09

In [35]:
stocks.rename({"date": "datadate", "PERMNO":"LPERMNO"}, axis=1, inplace=True)

In [36]:
stocks.head()

   LPERMNO   datadate      PRC     VOL       RET  SHROUT   Market Cap
2    10000 1986-02-28  3.25000   828.0 -0.257143  3680.0  11960.00000
3    10000 1986-03-31  4.43750  1078.0  0.365385  3680.0  16330.00000
4    10000 1986-04-30  4.00000   957.0 -0.098592  3793.0  15172.00000
5    10000 1986-05-30  3.10938  1074.0 -0.222656  3793.0  11793.87834
6    10000 1986-06-30  3.09375  1069.0 -0.005025  3793.0  11734.59375

In [37]:
rd_firms["datadate"] = [pd.Timestamp(year=i.year+1,month=3, day=31) if i >= pd.Timestamp(year=i.year, month=4, day=1) else pd.Timestamp(year=i.year,month=3, day=31)  for i in rd_firms["datadate"]]

In [38]:
rd_firms

        LPERMNO   datadate        RDC
12431     63336 1980-03-31     0.0070
12503     20343 1980-03-31    18.4940
12565     57534 1980-03-31     0.5690
12775     30736 1980-03-31     4.7228
12777     31077 1980-03-31     2.6684
...         ...        ...        ...
181460    93356 2022-03-31    94.3116
181462    93371 2022-03-31    42.8924
181463    93372 2022-03-31    20.7738
181465    93426 2022-03-31    41.6000
181466    93436 2022-03-31  5484.8682

[61083 rows x 3 columns]

In [52]:
from pandas.tseries.offsets import MonthEnd

stocks['datadate'] = stocks['datadate'] + MonthEnd(0)

In [53]:
temp = pd.merge(stocks[["datadate", "Market Cap", "LPERMNO"]], rd_firms, on = ["LPERMNO", "datadate"], how="right")

In [54]:
stocks[(stocks["LPERMNO"]==63336)]

         LPERMNO   datadate      PRC   VOL       RET  SHROUT  Market Cap
1494170    63336 1981-06-30  0.75000   NaN  0.000000  2192.0    1644.000
1494171    63336 1981-07-31  0.75000   NaN  0.000000  2192.0    1644.000
1494172    63336 1981-08-31  0.62500   NaN -0.166667  2192.0    1370.000
1494173    63336 1981-09-30  0.62500   NaN  0.000000  2192.0    1370.000
1494174    63336 1981-10-31  0.75000   NaN  0.200000  2192.0    1644.000
1494175    63336 1981-11-30  0.75000   NaN  0.000000  2192.0    1644.000
1494176    63336 1981-12-31  1.00000   NaN  0.333333  2192.0    2192.000
1494177    63336 1982-01-31  1.25000   NaN  0.250000  2192.0    2740.000
1494178    63336 1982-02-28  1.25000   NaN  0.000000  2192.0    2740.000
1494179    63336 1982-03-31  1.87500   NaN  0.500000  2192.0    4110.000
1494181    63336 1982-05-31  1.37500   NaN -0.266667  2192.0    3014.000
1494182    63336 1982-06-30  0.87500   NaN -0.363636  2109.0    1845.375
1494183    63336 1982-07-31  1.00000   NaN  0.142857  2191.0    2191.000
1494185    63336 1982-09-30  0.62500   NaN -0.375000  2109.0    1318.125
1494186    63336 1982-10-31  0.62500   NaN  0.000000  2109.0    1318.125
1494187    63336 1982-11-30  0.75000  61.0  0.200000  2109.0    1581.750
1494188    63336 1982-12-31  0.87500  55.0  0.166667  2104.0    1841.000
1494189    63336 1983-01-31  0.75000   7.0 -0.142857  2104.0    1578.000
1494190    63336 1983-02-28  0.75000   7.0  0.000000  2104.0    1578.000
1494191    63336 1983-03-31  0.75000   2.0  0.000000  2104.0    1578.000
1494192    63336 1983-04-30  0.75000  10.0  0.000000  2104.0    1578.000
1494193    63336 1983-05-31  0.75000   3.0  0.000000  2104.0    1578.000
1494194    63336 1983-06-30  0.81250   4.0  0.083333  2104.0    1709.500
1494195    63336 1983-07-31  0.46875  21.0 -0.423077  2104.0     986.250
1494196    63336 1983-08-31  0.46875   1.0  0.000000  2104.0     986.250
1494197    63336 1983-09-30  0.40625   2.0 -0.133333  2104.0     854.750
1494198    63336 1983-10-31  0.21875  19.0 -0.461538  2104.0     460.250
1494199    63336 1983-11-30  0.21875   0.0  0.000000  2104.0     460.250
1494200    63336 1983-12-31  0.21875  51.0  0.000000  2104.0     460.250

In [55]:
rd_firms[rd_firms["LPERMNO"] == 63336]

       LPERMNO   datadate    RDC
12431    63336 1980-03-31  0.007
15704    63336 1981-03-31  0.001

In [56]:
stocks[(stocks["LPERMNO"]==93356) & (stocks["datadate"].dt.month == 3)]

         LPERMNO   datadate     PRC      VOL       RET   SHROUT  Market Cap
3586950    93356 2011-03-31   15.51   7425.0  0.000645  11882.0   184289.82
3586962    93356 2012-03-31   26.88  13461.0  0.081690  12187.0   327586.56
3586974    93356 2013-03-31   42.67  19375.0  0.141214  15002.0   640135.34
3586986    93356 2014-03-31   61.45  15492.0 -0.093658  16183.0   994445.35
3586998    93356 2015-03-31   67.10  23382.0 -0.023290  16525.0  1108827.50
3587010    93356 2016-03-31   42.94  42642.0 -0.039803  16882.0   724913.08
3587022    93356 2017-03-31   58.49  35608.0  0.057112  17181.0  1004916.69
3587034    93356 2018-03-31   64.07  32853.0  0.067477  17110.0  1096237.70
3587046    93356 2019-03-31  106.06  25164.0 -0.006743  17468.0  1852656.08
3587058    93356 2020-03-31   46.51  74130.0 -0.115779  34993.0  1627524.43
3587070    93356 2021-03-31   99.31  50003.0 -0.014097  35862.0  3561455.22

In [57]:
temp[temp["LPERMNO"] == 93356]

        datadate  Market Cap  LPERMNO      RDC
52079 2015-03-31  1108827.50    93356  30.2946
53336 2016-03-31   724913.08    93356  39.7052
54560 2017-03-31  1004916.69    93356  50.4218
55788 2018-03-31  1096237.70    93356  59.1118
57072 2019-03-31  1852656.08    93356  63.7024
58375 2020-03-31  1627524.43    93356  72.2676
59709 2021-03-31  3561455.22    93356  80.5896
61078 2022-03-31         NaN    93356  94.3116

In [35]:
temp["year"] = [i.year+1 if i >= pd.Timestamp(year=i.year, month=4, day=1) else i.year for i in temp["datadate"]]

In [36]:
temp

        datadate    Market Cap  LPERMNO        RDC  year
0     1991-01-31  8.923725e+04    10010     2.6456  1991
1     1992-01-31  1.063580e+05    10010     3.7292  1992
2     1994-01-31  5.842500e+04    10010     8.4908  1994
3     1995-01-31  5.438475e+04    10010    11.0674  1995
4     1992-05-29  1.006294e+04    10012     0.7766  1993
...          ...           ...      ...        ...   ...
36742 2015-03-31  2.385335e+07    93436   916.8592  2015
36743 2016-03-31  3.075655e+07    93436  1380.2330  2016
36744 2017-03-31  4.568684e+07    93436  1835.1340  2017
36745 2020-03-31  9.694000e+07    93436  3873.0942  2020
36746 2021-03-31  6.432166e+08    93436  4205.2912  2021

[36747 rows x 5 columns]